<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Updated</title>
    <!-- Add your CSS styles or link a stylesheet if needed -->
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #007BFF;
        }

        p {
            color: #333;
            font-size: 18px;
        }
    </style>
</head>
<body>

    <h1>Data Deleted</h1>
    <p>The data has been successfully Deleted.</p>

</body>
</html>
