<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employee</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="employee-form-container">
        <form class="employee-form" action="" method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit">Submit</button>     
            <button><a href="{% url 'details' %}">Back</a></button>       
        </form>
    </div>
    
</body>
</html>